* {
    margin: 0;
    padding: 0;
    border: 0;
}

.html{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    height: 100vh;
}

body {
    background-color: #0C3043;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 10vh 0px 0 0;
    margin-bottom: 45px;
}

.conteudo{
    width: 70%;
}

#formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

input {
    background-color: #99D9EA;
    padding: 30px;
    width: 400px;
    font-size: 1.2em;
    border: #00A2E8 solid 4px;
}

.inputEdit{
    background-color: #99D9EA;
    padding: 10px;
    width: 250px;
    font-size: 1.2em;
    border: #4e007a solid 2px;
}

.button {
    background-color: black;
    border-radius: 5px;
    width: 200px;
    padding: 30px;
    font-size: 1.2em;
    border: #00A2E8 solid 4px;
    color: #00A2E8;
    font-weight: bold;
}

.button:hover {
    border: black solid 4px;
    color: black;
    background-color: #00A2E8;
    cursor: pointer;
}

#resultado>div {
    background-color: #124865;
    color: #06a2e8;
    padding: 25px;
    margin-bottom: 12px;

}

#resultado>div:hover {
    box-shadow: black 3px 3px 1px;
    transition: 0.5s;
    transform: scale(1.1);

}

.historico>h1 {
    color: white;
    margin: 20px 0;
}

.consulta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botoes > ion-icon{
    margin: 0 10px;
}

.lixeira, .editar{
    color: white;
    font-weight: bolder;
    transform: scale(1.5);
    padding: 5px;
    border-radius: 20px;
}

.confirmar{
    color: rgb(0, 155, 0);
    font-weight: bolder;
    transform: scale(2.2);
}

.confirmar:hover{
    color: rgb(0, 220, 0);
    font-weight: bolder;
    transform: scale(2.2);
    cursor: pointer;
}

.cancelar{
    color: rgb(155, 0, 0);
    font-weight: bolder;
    transform: scale(2.2);
}

.cancelar:hover{
    color: rgb(220, 0, 0);
    font-weight: bolder;
    transform: scale(2.2);
    cursor: pointer;
}


.lixeira:hover {
    color: red;
    cursor: pointer;
}
.editar:hover {
    color: rgb(200, 255, 0);
    cursor: pointer;
}

footer {
    border-top: #00A2E8 solid 3px;
    position: fixed;
    display: flex;
    align-items: flex-end;
    bottom: 0;
    width: 100vw;
    height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    background-color: #0C3043;
}

.logos{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.icones {
    margin: 0px 10px;
    font-size: 30px;
    color: white;
}

.icones:hover{
    color: #06a2e8;
    cursor: pointer;
    transition: 0.5s;
    scale: 1.3;
}